body {
    margin-top: 5%;
    background-color: #000;
    background-image: url("https://janschreiber.github.io/img2/black-chalk.jpg");
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: sans-serif;
    font-size: 11px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
    padding: 0;
    margin: 10px;
}

#startBtn {
    margin-top: 10px;
    padding: 5px;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
}

table {
    margin: 15px auto;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

#table_game {
    font-size: 120px;
    margin: 5% auto;
    border-collapse: collapse;
}

.td_game {
    border: 4px solid rgb(230, 230, 230);
    width: 90px;
    height: 90px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.cell {
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.td_list {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.th_list {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

#status {
    margin: 20px;
    font-size: 20px;
}

.new-game {
    display: none;
    padding: 5px;
    width: 10%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}

#restart {
    cursor: pointer;
    margin: 0 auto;
}

.x {
    color: darksalmon;
    position: relative;
    font-size: 80px;
    cursor: default;
}

.o {
    color: aquamarine;
    position: relative;
    font-size: 85px;
    cursor: default;
}

/* modal background */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 1;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/* modal content */
.modal-content {
    background-color: rgb(240, 240, 240);
    color: rgb(32, 32, 32);
    font-size: 2em;
    font-weight: bold;
    /* 16 % from the top and centered */
    margin: 16% auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 380px;
    max-width: 80%;
}

.win-color {
    background-color: rgba(240, 240, 240, 0.332);
}